<p>search works!</p>

<!-- {{productos | json}} -->

<!-- <div class="card-columns m-3">
    <div class="card" *ngFor="let item of productos">
      <img src="assets/images/productos/{{item.codigo}}.jpg" class="card-image-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.nombre}}</h5>
        <p class="card-text">{{item.descripcion}}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
         routerLinkActive="router-link-active" por que se quite esto del button 
        <button class="btn btn-primary" [routerLink]="['/product', item.codigo, category, criterio]">Ver Producto</button>
      </div>
    </div>    
</div>  -->

<app-cards [products]="productos" [category]="criterio" (onClickRedirect)="metodoSearch($event)"></app-cards>